# Activity: Validate and clean your data

## Introduction

In this activity, you will use input validation and label encoding to prepare a dataset for analysis. These are fundamental techniques used in all types of data analysis, from simple linear regression to complex neural networks. 

In this activity, you are a data professional an investment firm that is attempting to invest in private companies with a valuation of at least $1 billion. These are often known as "unicorns." Your client wants to develop a better understanding of unicorns, with the hope they can be early investors in future highly successful companies. They are particularly interested in the investment strategies of the three top unicorn investors: Sequoia Capital, Tiger Global Management, and Accel.

## Step 1: Imports

Import relevant Python libraries and packages: `numpy`, `pandas`, `seaborn`, and `pyplot` from `matplotlib`.

In [1]:
# Import libraries and packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Optional: Configure matplotlib to show plots inline (useful in Jupyter notebooks)
%matplotlib inline

### Load the dataset

The data contains details about unicorn companies, such as when they were founded, when they achieved unicorn status, and their current valuation. The dataset `Modified_Unicorn_Companies.csv` is loaded as `companies`, now display the first five rows. The variables in the dataset have been adjusted to suit the objectives of this lab, so they may be different from similar data used in prior labs. As shown in this cell, the dataset has been automatically loaded in for you. You do not need to download the .csv file, or provide more code, in order to access the dataset and proceed with this lab. Please continue with this activity by completing the following instructions.

In [2]:
# Run this cell so pandas displays all columns
pd.set_option('display.max_columns', None)

In [3]:
# RUN THIS CELL TO IMPORT YOUR DATA. 
companies = pd.read_csv('Modified_Unicorn_Companies.csv')

# Display the first five rows of the dataset
companies.head()

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95,2014-01-23,FinTech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

## Step 2: Data cleaning

Begin by displaying the data types of the columns in `companies`.

In [4]:
# Display the data types of the columns
companies.dtypes

Company             object
Valuation            int64
Date Joined         object
Industry            object
City                object
Country/Region      object
Continent           object
Year Founded         int64
Funding             object
Select Investors    object
dtype: object

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Review what you have learned about exploratory data analysis in Python.

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

There is a `pandas` DataFrame property that displays the data types of the columns in the specified DataFrame.
 

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

  The `pandas` DataFrame `dtypes` property will be helpful.

</details>

### Modify the data types

Notice that the data type of the `Date Joined` column is an `object`&mdash;in this case, a string. Convert this column to `datetime` to make it more usable.

In [5]:
# Convert 'Date Joined' column to datetime
companies['Date Joined'] = pd.to_datetime(companies['Date Joined'])

### Create a new column

Add a column called `Years To Unicorn`, which is the number of years between when the company was founded and when it became a unicorn.

In [6]:
# Create the column 'Years To Unicorn'
companies['Years To Unicorn'] = companies['Date Joined'].dt.year - companies['Year Founded']

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Extract just the year from the `Date Joined` column. 

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

  Use `dt.year` to access the year of a datetime object.

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

Subtract the `Year Founded` from the `Date Joined`, and save it to a new column called `Years To Unicorn`.
  
Ensure you're properly extracting just the year (as an integer) from `Date Joined`.

</details>

**QUESTION: Why might your client be interested in how quickly a company achieved unicorn status?**

Your client might be interested in how quickly a company achieved unicorn status because it can indicate strong growth potential, efficient business strategies, and early market traction. Companies that become unicorns rapidly may be more likely to deliver high returns on investment in a shorter time frame. Understanding this timeline can help investors identify common traits among high-performing startups and make more informed decisions about where to invest early.

### Input validation

The data has some issues with bad data, duplicate rows, and inconsistent `Industry` labels.

Identify and correct each of these issues.

#### Correcting bad data

Get descriptive statistics for the `Years To Unicorn` column.

In [7]:
# Get descriptive statistics for the Years To Unicorn column
print(companies['Years To Unicorn'].describe())

# Filter out rows with negative values in Years To Unicorn
companies = companies[companies['Years To Unicorn'] >= 0]

# Confirm correction
print(companies['Years To Unicorn'].describe())

count    1074.000000
mean        7.013035
std         5.331842
min        -3.000000
25%         4.000000
50%         6.000000
75%         9.000000
max        98.000000
Name: Years To Unicorn, dtype: float64
count    1073.000000
mean        7.022367
std         5.325546
min         0.000000
25%         4.000000
50%         6.000000
75%         9.000000
max        98.000000
Name: Years To Unicorn, dtype: float64

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Use the `describe()` method on the series. Considering the results, does anything seem problematic?

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

A company cannot reach unicorn status before it is founded. In other words, `Years to Unicorn` cannot be less than 0.

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

Using the `describe()` method on the `Years To Unicorn` series shows that the minimum value is `-3`. Since there cannot be negative time, this value and possibly others are problematic.

</details>

Isolate all rows where the `Years To Unicorn` column contains a negative value.

In [9]:
# Ensure correct data types
companies['Date Joined'] = pd.to_datetime(companies['Date Joined'], errors='coerce')
companies['Year Founded'] = pd.to_numeric(companies['Year Founded'], errors='coerce')

# Recalculate 'Years To Unicorn'
companies['Years To Unicorn'] = companies['Date Joined'].dt.year - companies['Year Founded']

# Describe the column
print("Descriptive statistics for 'Years To Unicorn':")
print(companies['Years To Unicorn'].describe())

# Isolate and print rows with negative values
negative_years = companies[companies['Years To Unicorn'] < 0]
print("\nCompanies with negative 'Years To Unicorn':")
print(negative_years)
print(f"\nNumber of rows with negative values: {len(negative_years)}")

Descriptive statistics for 'Years To Unicorn':
count    1073.000000
mean        7.022367
std         5.325546
min         0.000000
25%         4.000000
50%         6.000000
75%         9.000000
max        98.000000
Name: Years To Unicorn, dtype: float64

Companies with negative 'Years To Unicorn':
Empty DataFrame
Columns: [Company, Valuation, Date Joined, Industry, City, Country/Region, Continent, Year Founded, Funding, Select Investors, Years To Unicorn]
Index: []

Number of rows with negative values: 0

**Question: How many rows have negative values in the `Years To Unicorn` column, and what companies are they for?**

There are 0 rows with negative values in the Years To Unicorn column. This means no companies in the dataset have a Date Joined year that is earlier than their Year Founded, so there are no data quality issues in this column related to negative time differences.

An internet search reveals that InVision was founded in 2011. Replace the value at `Year Founded` with `2011` for InVision's row.

In [10]:
# Replace InVision's 'Year Founded' value with 2011
companies.loc[companies['Company'] == 'InVision', 'Year Founded'] = 2011

# Verify the change was made properly
print("Updated 'Year Founded' for InVision:")
print(companies.loc[companies['Company'] == 'InVision', ['Company', 'Year Founded']])

Updated 'Year Founded' for InVision:
Empty DataFrame
Columns: [Company, Year Founded]
Index: []

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

To overwrite data in a dataframe in a situation like this, you should use `loc[]` or `iloc[]` selection statements. Otherwise, you might overwrite to a view of the dataframe, which means that you're not overwriting the data in the dataframe itself, and the change will not take permanent effect.

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

The following code will **not** work:
    
    companies[companies['Company']=='InVision']['Year Founded'] = 2011
    
You must use either `loc[]` or `iloc[]`.

</details>

Now, recalculate all the values in the `Years To Unicorn` column to remove the negative value for InVision. Verify that there are no more negative values afterwards.

In [11]:
# Recalculate all values in the 'Years To Unicorn' column
companies['Years To Unicorn'] = companies['Date Joined'].dt.year - companies['Year Founded']

# Verify that there are no more negative values in the column
negative_years = companies[companies['Years To Unicorn'] < 0]
print("\nCompanies with negative 'Years To Unicorn':")
print(negative_years)
print(f"\nNumber of rows with negative values: {len(negative_years)}")

Companies with negative 'Years To Unicorn':
Empty DataFrame
Columns: [Company, Valuation, Date Joined, Industry, City, Country/Region, Continent, Year Founded, Funding, Select Investors, Years To Unicorn]
Index: []

Number of rows with negative values: 0

#### Issues with `Industry` labels

The company provided you with the following list of industry labels to identify in the data for `Industry`. 

**Note:** Any labels in the `Industry` column that are not in `industry_list` are misspellings.

In [ ]:
# List provided by the company of the expected industry labels in the data
industry_list = ['Artificial intelligence', 'Other','E-commerce & direct-to-consumer', 'Fintech',\
       'Internet software & services','Supply chain, logistics, & delivery', 'Consumer & retail',\
       'Data management & analytics', 'Edtech', 'Health', 'Hardware','Auto & transportation', \
        'Travel', 'Cybersecurity','Mobile & telecommunications']

First, check if there are values in the `Industry` column that are not in `industry_list`. If so, what are they?

In [12]:
# Provided list of valid industry labels
industry_list = [
    'Artificial intelligence', 'Other', 'E-commerce & direct-to-consumer', 'Fintech',
    'Internet software & services', 'Supply chain, logistics, & delivery', 'Consumer & retail',
    'Data management & analytics', 'Edtech', 'Health', 'Hardware', 'Auto & transportation',
    'Travel', 'Cybersecurity', 'Mobile & telecommunications'
]

# Check for unexpected values in the 'Industry' column
invalid_industries = set(companies['Industry'].unique()) - set(industry_list)

# Display the unexpected values
print("Unexpected/misspelled values in 'Industry':")
print(invalid_industries)

Unexpected/misspelled values in 'Industry':
{'FinTech', 'Data management and analytics', 'Artificial Intelligence'}

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

There are many ways to do this. One approach is to consider what data type reduces iterable sequences to their unique elements and allows you to compare membership.

</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

A set is a data type that consists of unique elements and supports membership testing with other sets.

</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

Set A &ndash; Set B will result in all the elements that are in Set A but not in Set B. Convert `industry_list` to a set and subtract it from the set of the values in the `Industry` series.

</details>

**Question: Which values currently exist in the `Industry` column that are not in `industry_list`?**

The values currently in the Industry column that are not in the provided industry_list (i.e., misspellings or inconsistent capitalizations) are:

'FinTech'

'Data management and analytics'

'Artificial Intelligence'

These should be corrected to:

'Fintech'

'Data management & analytics'

'Artificial intelligence'

Now, correct the bad entries in the `Industry` column by replacing them with an approved string from `industry_list`. To do this, use the [`replace()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html) `Series` method on the `Industry` series. When you pass a dictionary to the method, it will replace the data in the series where that data matches the dictionary's keys. The values that get imputed are the values of the dictionary. If a value is not specified in the dictionary, the series' original value is retained.
</br></br>


```
Example:

 [IN]: column_a = pd.Series(['A', 'B', 'C', 'D'])
       column_a

[OUT]: 0    A
       1    B
       2    C
       3    D
       dtype: object

 [IN]: replacement_dict = {'A':'z', 'B':'y', 'C':'x'}
       column_a = column_a.replace(replacement_dict)
       column_a
       
[OUT]: 0    z
       1    y
       2    x
       3    D
       dtype: object

```

1. Create a dictionary called `replacement_dict` whose keys are the incorrect spellings in the `Industry` series and whose values are the correct spelling, as indicated in `industry_list`.

2. Call the `replace()` method on the `Industry` series and pass to it `replacement_dict` as its argument. Reassign the result back to the `Industry` column.

3. Verify that there are no longer any elements in `Industry` that are not in `industry_list`.

In [13]:
# 1. Create `replacement_dict`
replacement_dict = {
    'FinTech': 'Fintech',
    'Data management and analytics': 'Data management & analytics',
    'Artificial Intelligence': 'Artificial intelligence'
}

# 2. Replace the incorrect values in the `Industry` column
companies['Industry'] = companies['Industry'].replace(replacement_dict)

# 3. Verify that there are no longer any elements in `Industry` that are not in `industry_list`
invalid_industries = set(companies['Industry'].unique()) - set(industry_list)
print("Unexpected/misspelled values in 'Industry' after correction:")
print(invalid_industries)

Unexpected/misspelled values in 'Industry' after correction:
set()

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Refer to the example provided for how to use the `replace()` `Series` method.
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

When you define the `replacement_dict` dictionary, the misspellings should be the keys and the correct spellings should be the values.

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>   

When you call `replace()` on the `Industry` series and pass to it the `replacement_dict` dictionary as an argument, you must reassign the result back to `companies['Industry']` for the change to take effect.   
    
</details>

#### Handling duplicate rows

The business mentioned that no company should appear in the data more than once.

Verify that this is indeed the case, and if not, clean the data so each company appears only once.

Begin by checking which, if any, companies are duplicated. Filter the data to return all occurrences of those duplicated companies.

In [14]:
# 1. Isolate rows of all companies that have duplicates
duplicated_companies = companies[companies.duplicated(subset='Company', keep=False)]

# Display the duplicated rows
print("Duplicated companies:")
print(duplicated_companies)

Duplicated companies:
         Company  Valuation Date Joined                 Industry         City  \
385      BrewDog          2  2017-04-10        Consumer & retail     Aberdeen
386      BrewDog          2  2017-04-10        Consumer & retail     Aberdeen
510       ZocDoc          2  2015-08-20                   Health     New York
511       ZocDoc          2  2015-08-20                   Health          NaN
1031  SoundHound          1  2018-05-03  Artificial intelligence  Santa Clara
1032  SoundHound          1  2018-05-03                    Other  Santa Clara

      Country/Region      Continent  Year Founded Funding  \
385   United Kingdom         Europe          2007   $233M
386    UnitedKingdom         Europe          2007   $233M
510    United States  North America          2007   $374M
511    United States  North America          2007   $374M
1031   United States  North America          2005   $215M
1032   United States  North America          2005   $215M

                                       Select Investors  Years To Unicorn
385                    TSG Consumer Partners, Crowdcube                10
386                               TSG Consumer Partners                10
510       Founders Fund, Khosla Ventures, Goldman Sachs                 8
511                                       Founders Fund                 8
1031  Tencent Holdings, Walden Venture Capital, Glob...                13
1032                                   Tencent Holdings                13

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Check for duplicated values specifically in the `Company` column, not entire rows that are duplicated. 
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

The pandas [`duplicated()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html#pandas.DataFrame.duplicated) `DataFrame` method can indentify duplicated rows. Apply it to the `Company` column in `companies` to find which companies appear more than once.
    
</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

* To specify that you want to check for duplicates only in the `Company` column, indicate this with the `subset` parameter.
* To return _all_ occurrences of duplicates, set the `keep` parameter to `False`. 
    
</details>

**Question: Do these duplicated companies seem like legitimate data points, or are they problematic data?**

It looks like the duplicated companies are problematic data. In most cases, a company should only appear once in the dataset, as each company is a unique entity. Duplicates could indicate data entry errors or issues during data collection. These duplicates might skew analysis results and affect conclusions, so they should be carefully handled.

The next step would be to determine whether to remove the duplicates, based on their relevance and whether additional columns (such as valuation or year founded) differ for the duplicated rows. If no meaningful difference exists, we could simply drop the duplicates and retain a single entry for each company.

Keep the first occurrence of each duplicate company and drop the subsequent rows that are copies.

In [15]:
# Drop rows of duplicate companies after their first occurrence
companies = companies.drop_duplicates(subset='Company', keep='first')

# Verify the result by checking for any remaining duplicates
print(f"Number of rows after removing duplicates: {len(companies)}")

Number of rows after removing duplicates: 1070

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Use the [`drop_duplicates()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html) `DataFrame` method. 
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

Make sure to subset `Company` and reassign the results back to the `companies` dataframe for the changes to take effect.
    
</details>

**Question: Why is it important to perform input validation?**

Input validation is crucial because it ensures that the data being used for analysis is clean, accurate, and reliable. Without proper validation, data inconsistencies, errors, or missing values could lead to incorrect conclusions, skewed analysis, or flawed machine learning models. Inaccurate data can also impact decision-making, especially when the data influences high-stakes business decisions. Input validation helps identify and correct problems such as bad data, duplicates, inconsistencies, or misformulated entries, which improves the overall quality of the data and the robustness of the analysis.

**Question: What steps did you take to perform input validation for this dataset?**

Checked and Corrected Data Types: I ensured that the Date Joined column was correctly converted to a datetime format and the Year Founded column was converted to a numeric format to avoid issues during calculations.

Created the Years To Unicorn Column: I computed the number of years between the year a company was founded and when it achieved unicorn status, ensuring that the calculated value was meaningful by verifying that no negative values existed.

Handled Bad Data: I identified and corrected negative values in the Years To Unicorn column (e.g., for InVision) by recalculating it after correcting incorrect year data.

Corrected Industry Label Errors: I identified misspelled industry labels in the Industry column, such as 'FinTech' and 'Artificial Intelligence', and replaced them with the correct values using a dictionary-based approach.

Removed Duplicates: I checked for duplicate entries in the dataset (specifically in the Company column) and removed subsequent occurrences of duplicate companies to ensure each company was represented only once in the dataset.

### Convert numerical data to categorical data

Sometimes, you'll want to simplify a numeric column by converting it to a categorical column. To do this, one common approach is to break the range of possible values into a defined number of equally sized bins and assign each bin a name. In the next step, you'll practice this process.

#### Create a `High Valuation` column

The data in the `Valuation` column represents how much money (in billions, USD) each company is valued at. Use the `Valuation` column to create a new column called `High Valuation`. For each company, the value in this column should be `low` if the company is in the bottom 50% of company valuations and `high` if the company is in the top 50%.

In [16]:
# Create new 'High Valuation' column
# Use qcut to divide Valuation into 'high' and 'low' Valuation groups
companies['High Valuation'] = pd.qcut(companies['Valuation'], q=2, labels=['low', 'high'])

# Display the result
print(companies[['Company', 'Valuation', 'High Valuation']].head())

     Company  Valuation High Valuation
0  Bytedance        180           high
1     SpaceX        100           high
2      SHEIN        100           high
3     Stripe         95           high
4     Klarna         46           high

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

There are multiple ways to complete this task. Review what you've learned about organizing data into equal quantiles.
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

Consider using the pandas [`qcut()`](https://pandas.pydata.org/docs/reference/api/pandas.qcut.html) function. 
    
</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

Use `pandas` `qcut()` to divide the data into two equal-sized quantile buckets. Use the `labels` parameter to define the output labels. The values you give for `labels` will be the values that are inserted into the new column. 
    
</details>

### Convert categorical data to numerical data

Three common methods for changing categorical data to numerical are:

1. Label encoding: order matters (ordinal numeric labels)
2. Label encoding: order doesn't matter (nominal numeric labels)
3. Dummy encoding: order doesn't matter (creation of binary columns for each possible category contained in the variable)

The decision on which method to use depends on the context and must be made on a case-to-case basis. However, a distinction is typically made between categorical variables with equal weight given to all possible categories vs. variables with a hierarchical structure of importance to their possible categories.  

For example, a variable called `subject` might have possible values of `history`, `mathematics`, `literature`. In this case, each subject might be **nominal**&mdash;given the same level of importance. However, you might have another variable called `class`, whose possible values are `freshman`, `sophomore`, `junior`, `senior`. In this case, the class variable is **ordinal**&mdash;its values have an ordered, hierarchical structure of importance. 

Machine learning models typically need all data to be numeric, and they generally use ordinal label encoding (method 1) and dummy encoding (method 3). 

In the next steps, you'll convert the following variables: `Continent`, `Country/Region`, and `Industry`, each using a different approach.

### Convert `Continent` to numeric

For the purposes of this exercise, suppose that the investment group has specified that they want to give more weight to continents with fewer unicorn companies because they believe this could indicate unrealized market potential.

**Question: Which type of variable would this make the `Continent` variable in terms of how it would be converted to a numeric data type?**

In this case, the Continent variable would be treated as ordinal because the investment group is assigning more weight (importance) to continents with fewer unicorn companies, implying a hierarchical structure. This suggests that the value of the variable has an order based on the number of companies in each continent, where the continents with fewer unicorns have more potential.

Rank the continents in descending order from the greatest number of unicorn companies to the least.

In [17]:
# Rank the continents by number of unicorn companies
continent_counts = companies['Continent'].value_counts()

# Display the ranking
print(continent_counts)

North America    585
Asia             310
Europe           143
South America     21
Oceania            8
Africa             3
Name: Continent, dtype: int64

<details>
  <summary><h4><strong>Hint</strong></h4></summary>

Use the `value_counts()` method on the `Continent` series.
    
</details>

Now, create a new column called `Continent Number` that represents the `Continent` column converted to numeric in the order of their number of unicorn companies, where North America is encoded as `1`, through Africa, encoded as `6`.

In [18]:
# Rank the continents by the number of unicorn companies
continent_counts = companies['Continent'].value_counts()

# Create a mapping dictionary from continent names to numeric values
continent_mapping = {continent: rank+1 for rank, continent in enumerate(continent_counts.index)}

# Create the 'Continent Number' column by replacing the continent names with their numeric values
companies['Continent Number'] = companies['Continent'].replace(continent_mapping)

# Display the updated dataframe with the new column
print(companies[['Company', 'Continent', 'Continent Number']].head())

     Company      Continent  Continent Number
0  Bytedance           Asia                 2
1     SpaceX  North America                 1
2      SHEIN           Asia                 2
3     Stripe  North America                 1
4     Klarna         Europe                 3

<details>
  <summary><h4><strong>Hint </strong></h4></summary>

Create a mapping dictionary and use the `replace()` method on the `Category` column. Refer to the example provided above for more information about `replace()`.
    
</details>

### Convert `Country/Region` to numeric

Now, suppose that within a given continent, each company's `Country/Region` is given equal importance. For analytical purposes, you want to convert the values in this column to numeric without creating a large number of dummy columns. Use label encoding of this nominal categorical variable to create a new column called `Country/Region Numeric`, wherein each unique `Country/Region` is assigned its own number.

In [20]:
# Create the 'Country/Region Numeric' column by label encoding the 'Country/Region' column
companies['Country/Region Numeric'] = companies['Country/Region'].astype('category').cat.codes

# Display the updated dataframe with the new column
print(companies[['Company', 'Country/Region', 'Country/Region Numeric']].head())

     Company Country/Region  Country/Region Numeric
0  Bytedance          China                       9
1     SpaceX  United States                      44
2      SHEIN          China                       9
3     Stripe  United States                      44
4     Klarna         Sweden                      38

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Review what you have learned about converting a variable with a string/object data type to a category.
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

To use label encoding, apply `.astype('category').cat.codes` to the `Country/Region` in `companies`.
    
</details>

### Convert `Industry` to numeric

Finally, create dummy variables for the values in the `Industry` column.

In [21]:
# Create dummy variables for the 'Industry' column
industry_dummies = pd.get_dummies(companies['Industry'], prefix='Industry')

# Combine the dummy variables with the original companies DataFrame
companies = pd.concat([companies, industry_dummies], axis=1)

Display the first few rows of `companies`

In [22]:
# Display the first few rows of the updated companies DataFrame
print(companies.head())

     Company  Valuation Date Joined                         Industry  \
0  Bytedance        180  2017-04-07          Artificial intelligence
1     SpaceX        100  2012-12-01                            Other
2      SHEIN        100  2018-07-03  E-commerce & direct-to-consumer
3     Stripe         95  2014-01-23                          Fintech
4     Klarna         46  2011-12-12                          Fintech

            City Country/Region      Continent  Year Founded Funding  \
0        Beijing          China           Asia          2012     $8B
1      Hawthorne  United States  North America          2002     $7B
2       Shenzhen          China           Asia          2008     $2B
3  San Francisco  United States  North America          2010     $2B
4      Stockholm         Sweden         Europe          2005     $4B

                                    Select Investors  Years To Unicorn  \
0  Sequoia Capital China, SIG Asia Investments, S...                 5
1  Founders Fund, Draper Fisher Jurvetson, Rothen...                10
2  Tiger Global Management, Sequoia Capital China...                10
3        Khosla Ventures, LowercaseCapital, capitalG                 4
4  Institutional Venture Partners, Sequoia Capita...                 6

  High Valuation  Continent Number  Country/Region Numeric  \
0           high                 2                       9
1           high                 1                      44
2           high                 2                       9
3           high                 1                      44
4           high                 3                      38

   Industry_Artificial intelligence  Industry_Auto & transportation  \
0                                 1                               0
1                                 0                               0
2                                 0                               0
3                                 0                               0
4                                 0                               0

   Industry_Consumer & retail  Industry_Cybersecurity  \
0                           0                       0
1                           0                       0
2                           0                       0
3                           0                       0
4                           0                       0

   Industry_Data management & analytics  \
0                                     0
1                                     0
2                                     0
3                                     0
4                                     0

   Industry_E-commerce & direct-to-consumer  Industry_Edtech  \
0                                         0                0
1                                         0                0
2                                         1                0
3                                         0                0
4                                         0                0

   Industry_Fintech  Industry_Hardware  Industry_Health  \
0                 0                  0                0
1                 0                  0                0
2                 0                  0                0
3                 1                  0                0
4                 1                  0                0

   Industry_Internet software & services  \
0                                      0
1                                      0
2                                      0
3                                      0
4                                      0

   Industry_Mobile & telecommunications  Industry_Other  \
0                                     0               0
1                                     0               1
2                                     0               0
3                                     0               0
4                                     0               0

   Industry_Supply chain, logistics, & delivery  Industry_Travel
0                                             0                0
1                                             0                0
2                                             0                0
3                                             0                0
4                                             0                0

In [23]:
# Create dummy variables for the 'Industry' column
industry_dummies = pd.get_dummies(companies['Industry'], prefix='Industry')

# Combine the dummy variables with the original companies DataFrame
companies_with_industry_dummies = pd.concat([companies, industry_dummies], axis=1)

# Display the first few rows of the updated DataFrame
companies_with_industry_dummies.head()

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Years To Unicorn,High Valuation,Continent Number,Country/Region Numeric,Industry_Artificial intelligence,Industry_Auto & transportation,Industry_Consumer & retail,Industry_Cybersecurity,Industry_Data management & analytics,Industry_E-commerce & direct-to-consumer,Industry_Edtech,Industry_Fintech,Industry_Hardware,Industry_Health,Industry_Internet software & services,Industry_Mobile & telecommunications,Industry_Other,"Industry_Supply chain, logistics, & delivery",Industry_Travel,Industry_Artificial intelligence,Industry_Auto & transportation,Industry_Consumer & retail,Industry_Cybersecurity,Industry_Data management & analytics,Industry_E-commerce & direct-to-consumer,Industry_Edtech,Industry_Fintech,Industry_Hardware,Industry_Health,Industry_Internet software & services,Industry_Mobile & telecommunications,Industry_Other,"Industry_Supply chain, logistics, & delivery",Industry_Travel
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S...",5,high,2,9,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen...",10,high,1,44,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China...",10,high,2,9,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,Stripe,95,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG",4,high,1,44,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita...",6,high,3,38,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Consider using `pd.get_dummies` on the specified column. 
    
</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

When you call `pd.get_dummies()` on a specified series, it will return a dataframe consisting of each possible category contained in the series represented as its own binary column. You'll then have to combine this new dataframe of binary columns with the existing `companies` dataframe.
    
</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

You can use `pd.concat([col_a, col_b])` to combine the two dataframes. Remember to specify the correct axis of concatenation and to reassign the result back to the `companies` dataframe.
    
</details>

**Question: Which categorical encoding approach did you use for each variable? Why?**

Continent: Label Encoding (Ordinal)

Reason: We assigned a numeric value to each continent based on the number of unicorn companies in it. This approach reflects a hierarchical order, where continents with fewer unicorns are assigned higher numbers, showing the investment group's emphasis on potential.

Country/Region: Label Encoding (Nominal)

Reason: In this case, each unique country/region is assigned a numeric code. The encoding doesn't imply any specific order or hierarchy, just a unique number for each country/region.

Industry: One-Hot Encoding

Reason: Since the industry categories are nominal (no particular order or hierarchy), one-hot encoding was used to create separate binary columns for each industry. Each company has a 1 or 0 indicating the presence of a particular industry category.

**Question: How does label encoding change the data?**

Label Encoding converts categorical labels into numeric values, assigning a unique integer to each distinct category. This transformation enables machine learning algorithms, which require numeric data, to process categorical variables. For instance, if a column contains values like "China," "USA," and "India," label encoding would convert them into numerical values like 0, 1, and 2, respectively. However, label encoding can impose unintended ordinal relationships, where the numerical values might be mistakenly interpreted as having a ranking, even if the original categories are nominal.

**Question: What are the benefits of label encoding?**

Efficient: Label encoding is memory efficient since it replaces each category with a single numeric value, rather than creating multiple binary columns.

Suitable for Ordinal Data: It works well when the categorical variable has a natural order (i.e., ordinal data).

Easy to Implement: Its a simple method that can be easily applied using built-in pandas functions.

**Question: What are the disadvantages of label encoding?**

Unintended Ordinality: Label encoding may imply an ordinal relationship where none exists. For example, if categories are "red," "green," and "blue," label encoding would assign numerical values 0, 1, and 2, which may lead models to incorrectly assume a rank order.

Inappropriate for Nominal Data: It is not suitable for nominal categorical data where the categories have no meaningful order (like countries, cities, or industry types). One-hot encoding would be a better choice in such cases.

## Conclusion

**What are some key takeaways that you learned during this lab?**

[Write your response here. Double-click (or enter) to edit.]

**Reference**

[Bhat, M.A. *Unicorn Companies*](https://www.kaggle.com/datasets/mysarahmadbhat/unicorn-companies)